header .aui-item:first-child {
    width: 75%;
}

header .aui-item:last-child {
    float: right;
}

header .aui-buttons > .aui-button > .aui-icon {
    margin-right: 4px;
}

section[role="main"] table.aui {
    margin-top: 10px;
}